#recipes {
  background-color: rgb(108, 106, 106);
  min-height: 180vh;
  height: 100%;
  width: 100%;
  margin: 0;
}

#recipes > .underline {
  margin: 0 auto 50px auto !important;
}

#recipes:hover > .underline {
  width: 120px;
  transition: 0.5s;
}

#recipes > .underline {
  width: 80px;
  height: 5px;
  background-color: rgb(255, 134, 134);
  margin: 0 auto 20px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#recipes > h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  color: rgb(249, 233, 233);
}

.container {
  width: 100%;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: rgba(62, 61, 61, 0.612); */
  margin: 0;
}

.card {
  display: flex;
  height: 450px;
  width: 320px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  margin-left: -10px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

/* .card:not(:first-child) {
  margin-left: -50px;
} */

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.link {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: auto;
}
