.App {
  display: grid;
  grid-template-columns: min-content 1fr;
  box-sizing: border-box;
}

main {
  width: 100vw;
}

@media (max-width: 800px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
  }
}
