.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  background: transparent;
  border: none;
  position: fixed;
  padding: 0;
  margin: 10px 0 0 10px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 999;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 30px;
  height: 4px;
  background: rgba(216, 112, 147, 0.6);
}

.toggle-button-x {
  width: 30px;
  height: 2px;
  background: white;
}

@media (min-width: 800px) {
  .toggle-button {
    display: none;
  }
}
