#resume {
  background-color: rgb(255, 189, 199);
  height: 100%;
  width: 100%;
  margin: 0;
  /* padding: 0; */
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; */
}

#resume > div {
  /* background-color: lightyellow; */
  /* border-left: 2px solid rgb(174, 129, 135); */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.experience-container {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  border-left: 2px solid rgb(174, 129, 135);
  position: relative;
}

.experience-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -14px;
  background-color: rgb(174, 129, 135);
  border: 4px solid rgb(104, 92, 96);
  border-radius: 50%;
  z-index: 1;
}

.experience-container:hover {
  background-color: rgb(223, 188, 188);
}

.experience-container:hover > .experience-logo {
  background-color: rgb(255, 134, 134);
}

.experience-container:hover::after {
  background-color: rgb(255, 134, 134);
}

.experience-logo {
  width: 100px;
  height: 100px;
  border-radius: 40%;
  background-color: rgb(254, 172, 172);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.experience-logo > img {
  width: 60%;
  height: auto;
}

.experience-section {
  padding: 10px;
  /* background-color: rgba(182, 144, 144, 0.221); */
  color: rgba(0, 0, 0);
  border-radius: 0.5rem;
  width: 100%;
  min-height: 80%;
  margin: 10px;
}

.experience-section > h3,
.experience-section > h4,
.experience-section > p {
  margin: 5px;
}
