#resume {
  background-color: rgb(249, 227, 230);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 0 100px 0 !important;
}

.work:hover > .underline-work,
.education:hover > .underline-education {
  width: 120px;
  transition: 0.5s;
}

#resume > div > h1 {
  text-align: center;
  font-size: 50px;
  margin: 0 auto 5px auto;
  padding: 50px 0 10px 0;
}

.underline-work,
.underline-education {
  width: 80px;
  height: 5px;
  background-color: rgb(255, 134, 134);
  margin: 0 auto 20px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: rgb(104, 92, 96);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.experience-container {
  width: 50%;
  -webkit-box-shadow: 0px 2px 7px -5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 2px 7px -5px rgba(0, 0, 0, 1);
  box-shadow: 0px 2px 7px -5px rgba(0, 0, 0, 1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.experience-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  border: 3px solid rgb(104, 92, 96);
  background-color: rgb(104, 92, 96);
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.left::after {
  right: -15.5px;
}

.right {
  left: 49.75%;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
}

.right::after {
  left: -13px;
}

@media (max-width: 1000px) {
  .timeline::after {
    left: 30px;
  }

  .experience-container {
    width: 80%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .experience-container::before {
    left: 60px;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

.experience-container:hover {
  background-color: rgb(223, 188, 188);
  transition: 0.3s;
}

.experience-container:hover > .experience-section {
  background-color: rgb(247, 211, 211);
}

.experience-container:hover > .experience-logo {
  background-color: rgb(255, 134, 134);
}

.experience-container:hover::after {
  background-color: rgb(255, 134, 134);
}

.experience-logo {
  width: 100px;
  height: 100px;
  border-radius: 40%;
  background-color: rgb(254, 172, 172);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.experience-logo > img {
  width: 60%;
  height: auto;
}

.experience-section {
  padding: 10px;
  /* background-color: rgba(182, 144, 144, 0.221); */
  color: rgba(0, 0, 0);
  border-radius: 0.5rem;
  width: 100%;
  min-height: 80%;
  margin: 10px;
}

.experience-section > h3,
.experience-section > h4,
.experience-section > p {
  margin: 5px;
}

@media (max-width: 500px) {
  .experience-container {
    width: 75%;
  }
}
