#resume {
  background-color: rgb(255, 189, 199);
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: rgb(174, 129, 135);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.experience-container {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid rgb(174, 129, 135);
}

.experience-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: rgb(174, 129, 135);
  border: 3px solid rgb(104, 92, 96);
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.left::after {
  right: -14px;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -15px;
}

@media (max-width: 800px) {
  .timeline::after {
    left: 50px;
  }
}

.experience-container:hover {
  background-color: rgb(223, 188, 188);
}

.experience-container:hover > .experience-logo {
  background-color: rgb(255, 134, 134);
}

.experience-container:hover::after {
  background-color: rgb(255, 134, 134);
}

.experience-logo {
  width: 100px;
  height: 100px;
  border-radius: 40%;
  background-color: rgb(254, 172, 172);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.experience-logo > img {
  width: 60%;
  height: auto;
}

.experience-section {
  padding: 10px;
  /* background-color: rgba(182, 144, 144, 0.221); */
  color: rgba(0, 0, 0);
  border-radius: 0.5rem;
  width: 100%;
  min-height: 80%;
  margin: 10px;
}

.experience-section > h3,
.experience-section > h4,
.experience-section > p {
  margin: 5px;
}
