#about {
  background-color: rgb(250, 209, 215);
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about > h1 {
  font-size: 50px;
  text-align: center;
}

.about-content {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.about-content p {
  background-color: rgb(250, 221, 227);
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.034), 0 1px 1px rgba(0, 0, 0, 0.048),
    0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 2px rgba(0, 0, 0, 0.072),
    0 1px 1px rgba(0, 0, 0, 0.086), 0 5px 5px rgba(0, 0, 0, 0.12);
  /* -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 7px 3px -8px #777; */
}

.hobbies {
  width: 80%;
  align-self: center;
}

.cat-dog {
  width: 100%;
}

.underline-about {
  width: 80px;
  height: 5px;
  background-color: rgb(255, 134, 134);
  margin: 0 auto 20px auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media (max-width: 800px) {
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    width: 90%;
  }
}
