.Sidebar {
  font-family: "Montserrat", sans-serif;
  width: 250px;
  height: 100%;
  font-size: 30px;
  font-weight: 700;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
  transform: translateX(-100);
  z-index: 500;
}

.Sidebar-close {
  display: none;
}

.Sidebar-open {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  position: fixed;
  z-index: 500;
  font-family: "Montserrat", sans-serif;
  width: 250px;
  height: 100%;
  font-size: 30px;
  font-weight: 700;
  background-color: rgb(245, 230, 203);
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
}

.Sidebar-open::after {
  content: "";
  background: url("https://i.imgur.com/DHAhvAq.png?1");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h1 {
  margin: 25px 0;
}

.Sidebar-open .sidebar-img {
  width: 72%;
  height: 70%;
  border-radius: 50%;
  transition: 0.3s;
  margin: 35px 0 30px 0;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.Sidebar-open .sidebar-img:hover {
  transform: scale(1.1);
}

.Sidebar-open ul {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0;
}

@media (min-width: 300px) {
  .Sidebar-open ul {
    position: sticky;
    top: 0;
  }
}

.Sidebar-open ul li {
  color: purple;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 10px;
  margin: 10px;
}

.Sidebar-open ul li a {
  padding: 0 10px;
  transition: 0.2s;
}

ul > li > a.active {
  color: rgb(255, 134, 134);
  border-left: 5px solid rgb(255, 134, 134);
  transform: scale(1.1);
}

.social-media {
  display: flex;
  flex-direction: row;
}

.fa {
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #3b5998;
  color: rgb(254, 175, 175);
  text-decoration: none;
}

.fa:hover {
  color: white;
}

.social-media > div > a > p {
  display: none;
}

@media (max-width: 500px) {
  .Sidebar-open ul {
    font-size: 20px;
  }

  .Sidebar-open ul li a {
    padding: 0 5px;
  }

  .fa {
    padding: 10px;
    margin: 3px;
    font-size: 20px;
    width: 30px;
    height: 30px;
  }
}
