#home {
  background: url("https://i.imgur.com/N9dkVfg.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
  height: 1400px;
  width: 80vw;
  /* z-index: 2; */
  margin: 0;
}

#home > div {
  display: flex;
  flex-direction: row;
}

#home h1 {
  font-size: 80px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* transform: rotate(-50deg) skew(-5deg);
  top: 0; */
}

#home h3 {
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-weight: 400;
}
